
  <footer>
    <img src="/images/Frame 1Dino.svg" alt="Dino footer">
    <p class="lead mb-0"><a href="https://www.instagram.com/ziongabrie.l/" class="text-white fw-bold">@ziongabrie.l</a></p>
   </footer>


