<%- include('partials/header.ejs', {user}); %>

<main class="container shadow-lg p-4 mb-5 bg-body rounded">
  <div class="p-4 p-md-5 mb-10 rounded text-bg-secondary ">
    <div class="col-md-10 px-1">
      <h1 id="informa"class="display-3 fst-italic">Paleontologia</h1>
      <p class="lead my-3">A Paleontologia é a ciência que estuda os seres vivos que viveram num passado remoto da Terra. A biodiversidade atual é apenas uma pequena parcela de todas as espécies de animais, plantas e microorganismos que já habitaram os continentes e oceanos ao longo do tempo. O paleontólogo faz escavações em busca desses seres que ficaram preservados nas rochas sob a forma de fósseis. Seu objeto de estudo não se limita aos dinossauros, mas inclui também outros tipos de répteis, peixes, mamíferos, anfíbios, vegetais, invertebrados, fungos e bactérias.

        A Paleontologia trabalha em conjunto com a Biologia e a Geologia e é importante para entender a evolução das espécies e como os ambientes do planeta se modificaram ao longo de sua história geológica. A Paleontologia também tem importância econômica, ajudando os geólogos na descoberta das reservas de combustíveis fósseis, como petróleo, gás natural e carvão mineral. No MHNJB a Paleontologia está presente por meio de um valioso acervo, exposições permanentes e pelo desenvolvimento de estudos envolvendo pesquisadores de diferentes instituições.</p>
      
    </div>
  </div>
  </main>
