<%- include('partials/header.ejs', {user}); %>

<main class="container shadow-lg p-4 mb-5 bg-body rounded">
    <div class="p-4 p-md-5 mb-10 rounded text-bg-secondary ">
      <div class="col-md-10 px-1">
        <h1 id="noticia1"class="display-3 fst-italic">Novo dinossauro encontrado</h1>
        <h6>Out 22 Brasil</h6>
        <p class="lead my-3">Pesquisadores da Universidade Federal de Pernambuco, apresentaram um novo fóssil da unidade geológica
         Formação Romualdo no Ceará  apresentaram no dia 10 de julho, um novo fóssil de dinossauro encontrado na unidade geológica Formação Romualdo, no Ceará, o Aratasaurus museunacionali, membro do grupo de carnívoros.
 Segundo a pesquisadora Juliana Sayão, o Aratasaurus museunacionali contribui para que as instituições científicas entendam a história evolutiva dos terópodes, que compõem o grupo de dinossauros carnívoros que têm como representantes atuais as aves. “Dentro dos Theropoda, descobrimos que o Aratasaurus faz parte de um grupo denominado Coelurosauria, que inclui tanto o dinossauro brasileiro encontrado na mesma região chamado Santanaraptor, quanto os famosos Tyrannosaurus, velociraptores e até as aves atuais”, explica Sayão.</p>
 <img src="/images/Ara.jpg" width="500">
        <p class="lead my-3">A expectativa é que a descoberta desse fóssil e sua exposição no Museu de Paleontologia Plácido Cidade Nuvens faça com que as atenções do meio paleontológico se voltem novamente para a Bacia do Araripe, estimulando a curiosidade das pessoas para conhecerem esse antigo habitante do Nordeste brasileiro.

            "Toda descoberta de um fóssil é importante porque obtemos registros que ajudam a reconstruir a história do planeta e refazer o caminho da evolução dos organismos que viveram aqui desde milhões de anos atrás. Muitas vezes o fóssil é único e guarda todas as informações sobre aquela espécie ou grupo de animais", explica a paleontóloga da Universidade Federal de Pernambuco, Juliana Sayão.

        </p>
      </div>
      
    </div>
    </main>
   
  