<%- include('partials/header.ejs', {user}); %>

<main class="container shadow-lg p-4 mb-5 bg-body rounded">
    <div class="p-4 p-md-5 mb-10 rounded text-bg-secondary ">
      <div class="col-md-10 px-1">
        <h1 id="noticia2"class="display-3 fst-italic">Fóssil remontado</h1>
        <h6>Abr 11 EUA</h6>
        <p class="lead my-3">Paleontólogos da University of Nevada, descobriram uma nova ossada que permitiu a reformulação de um fóssil que se acreditava ter sido completo, mais de 120 milhões de anos atrás, um feroz dinossauro carnívoro semelhante a um pássaro viveu onde hoje é China. Um dia, ele foi morto de levado para um lago, onde morreu e tornou-se um importante fóssil, com uma boa preservação de seus restos intestinais.</p>
 <img src="/images/Foss.jpg" width="500">
        <p class="lead my-3">O estudo que descreve a nova descoberta foi publicado pelos pesquisadores chineses em um artigo de acesso aberto no periódico Scientific Reports. Além de reportar um intestino especialmente conservado no fóssil, o estudo descreve uma nova espécie de dinossauro, o Daurlong wangi.

            “A preservação excepcional neste espécime inclui uma grande camada azulada no abdômen, que representa uma das poucas ocorrências de restos intestinais entre os dinossauros não aviários”, explicam os cientistas no abstrato do artigo.
        </p>
      </div>
      
    </div>
    </main>
