<%- include('partials/header.ejs', {user}); %>

<main class="container shadow-lg p-4 mb-5 bg-body rounded">
    <div class="p-4 p-md-5 mb-10 rounded text-bg-secondary ">
      <div class="col-md-10 px-1">
        <h1 id="noticia2"class="display-3 fst-italic">Dinossauro anão</h1>
        <h6>Dez 16 Brasil</h6>
        <p class="lead my-3">Cientistas descobrem nova espécie de dinossauro anão no interior de SP. Uma nova espécie de dinossauro foi encontrado em Ibirá, no interior de São Paulo. Batizado de Ibirania parva, o titanossauro mede entre 5,7 e 6 metros e é uma forma "anã" dos saurópodes - grupo de animais pescoçudos e herbívoros. Alguns indivíduos desta espécie já foram identificados como "anãos" em regiões de ilhas antigas, como Argentina e Equador. No entanto, o Ibirania é a primeira espécie de titanossauro comprovadamente anã das Américas</p>
 <img src="/images/anao2.jpg" width="500">
        <p class="lead my-3">Os cientistas trabalharam com diferentes linhas de pensamento para compreender a presença dos animais na região. Entre elas, a de que redução de tamanho poderia ser da própria genética, uma vez que a redução de tamanho poderia ser uma tendência que a própria genética já demonstrava. Outra hipótese ainda era do reflexo dos nichos ecológicos de cada tipo de dinossauro, já que alguns eram especializados em alimentos de copas de árvores e outros de vegetação rasteira.
        </p>
      </div>
      
    </div>
    </main>