<%- include('partials/header.ejs', {user}); %>

<main class="container shadow-lg p-4 mb-5 bg-body rounded">
    <div class="p-4 p-md-5 mb-10 rounded text-bg-secondary ">
      <div class="col-md-10 px-1">
        <h1 id="noticia2"class="display-3 fst-italic">Fóssil ilegal</h1>
        <h6>Jun 02 Alemanha</h6>
        <p class="lead my-3">Museu alemão terá de devolver fóssil de dinossauro levado ilegalmente do Brasil. O fóssil do dinossauro Ubirajara jubatus, descoberto na Bacia do Araripe, no Sul do Ceará, vai ser repatriado da Alemanha ao Brasil, após uma reunião feita por autoridades do gabinete do Ministério da Ciência, Pesquisa e Artes alemão na terça-feira (19).

            O achado, que viveu entre 110 e 115 milhões de anos atrás, está no museu de História Natural de Karlsruhe, na Alemanha.</p>
 <img src="/images/2007.jpg" width="500">
        <p class="lead my-3">A decisão ocorre após a publicação de um artigo na revista Cretaceous Research, em 2020, com pesquisadores alegando que o fóssil não foi exportado legalmente e solicitou repatriação para o Brasil.

            O Ministério Público Federal instaurou, na época, um procedimento para investigar a saída do fóssil.
        </p>
      </div>
      
    </div>
    </main>